body {
  width: 80vw;
  margin: auto;
  font-family: Raleway;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page-heading {
  text-align: center;
  margin: 7vh 0 7vh 0;
}
#title, #subtitle {
  margin: 0;
}
h1 {
  font-size: 50px;
}
#subtitle {
  max-width: 700px;
  font-size: 20px;
}

#input-form {
  display: flex;
  flex-direction: column;
}
h2 {
  padding: 0;
  margin: 10px;
}
.text-field {
  margin: 0 0 0 10px;
  padding: 0;
  width: 500px;
}
.button {
  margin: 10px;
  width: 80px;
}
.live-container {
  margin: 10px;
  width: 700px;
  min-height: 200px;
  background-color: aliceblue;
  border-radius: 6px;
}
#avail-letters {
  font-size: 30px;
  padding: 15px;
}

#subtract-container {
  margin-top: 50px;
}

#clear-all {
  margin-top: 10vh;
}

